.verticalSlider
{
	padding:  1px 0px 1px 0px ;
	border:1px solid black;
	margin: 1px 1px;
}

div{
	border:1px solid black;
	padding: 10px 10px;
	margin: auto;
}

.col, .row{
	border: 0px solid white;
}

code{
	color: rgba(0,100,0,1);
}

.center_div{
	background-color:rgba(250,255,255,.8);
	border-radius: 25px;
	padding: 40px 20px 40px 20px;
    margin: 20px auto;
    width: 60% ;
    border: 2px solid black;
}